<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <div class="input-group">
      <input type="email" [value]="email" (input)="updateEmail($event)" placeholder="E-mail" />
    </div>
    <div class="input-group">
      <input type="password" [value]="password" (input)="updatePassword($event)" placeholder="Password" />
    </div>
    <button class="login-btn" (click)="login()">Login</button>
    <p class="signup-text">
      Don't have an account? 
      <button class="signup-btn" (click)="goToSignup()">Signup</button>
    </p>
  </div>
</div>
