<div class="signup-container">
  <div class="signup-box">
    <h2>Signup</h2>
  
    <div class="input-group">
      <input type="name" [value]="name" (input)="name = $event.target.value" placeholder="Enter Username" />
    </div>
    
    <div class="input-group">
      <input type="email" [value]="email" (input)="email = $event.target.value" placeholder="Enter E-mail" />
    </div>

    <div class="input-group">
      <input type="emailconfirm" [value]="emailconfirm" (input)="emailconfirm = $event.target.value" placeholder="Confirm E-mail" />
    </div>
    <div class="input-group">
      <input type="password" [value]="password" (input)="password = $event.target.value" placeholder="Password" />
    </div>
    
    <div class="input-group">
      <input type="password" [value]="passwordconfirm" (input)="passwordconfirm = $event.target.value" placeholder="Confirm Password" />
    </div>
    <button class="signup-btn" (click)="register()">Signup</button>
    <p class="login-text">
      Already have an account? 
      <button class="login-btn" (click)="goToLogin()">Login</button>
    </p>
  </div>
</div>
